
body {
  font-family: "Open Sans", sans-serif;
}

header {
  font-family: "Montserrat", sans-serif;
}

.hero h1 {
  color: #4F9CCF;
  font-size: 48px;
  text-align: center;
  font-family: "Magnolia Script", cursive;

}

.hero p {
  color: #1F2A33;
  font-size: 18px;
}

.hero 
{
  background-color:  #e1d6b5;
  padding: 80px 40px;
}
.hero a:hover
 {
   background-color:#F59073;
}

.hero a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color:#F59073;
    color:  #1F2A33;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
header {font-family: "Montserrat", sans-serif;}

h1 {
color: #4F9CCF;
  font-size: 48px;
  text-align: center;
  font-family: "Magnolia Script", cursive;}

h2 {
  color: #1F2A33;
  font-size: 24px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
h3 {
  color: #1F2A33;
  font-size: 24px;
  text-align: left;
  font-family: Montserrat,sans-serif;
}
blockquote {
    text-align: center;
    font-style: italic;
}
.pdf-link {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #F59073;
  color: #1F2A33;
  text-decoration: none;
  border-radius: 5px;
}

.certifications {
  list-style-type: circle;
  padding-left: 20px;
}

.certifications li {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #1F2A33;
}
.certifications li:hover {
  color: #4F9CCF; 
}

body {
  background-color: #e1d6b5;
}

/* Pseudo-element: First Letter */
.resource p:first-of-type::first-letter {
    font-size: 2em;
    color: #F59073;
    font-weight: bold;
}

/* Pseudo-class: Every Other Paragraph */
.resource p:nth-of-type(even) {
    text-indent: 2em;
}
/* Resource Box Styles */
.resource-box {
    border: 2px solid #F59073;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #ffffff;
}
/*Resource Box Heading Styles */
.resource-box h2 {
    color: #4F9CCF;
}
/* Link Pseudo-classes */
a:link {
    color: #4F9CCF;
}

a:visited {
    color: #4F9CCF;
}

a:hover {
    color: #F59073;
}

a:focus {
    color: #F59073;
}

a:active {
    color: #F59073;
}